<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Lobbies</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control" ng-init="name='Lobby'" ng-model="name" placeholder="name">
                <span class="input-group-btn">
                    <button class="btn btn-success" ng-click="createLobby(name)">Create Lobby</button>             
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Connect
                    </th>
                </tr>
                <tr ng-repeat="lobby in $parent.lobbies">
                    <td>
                        {{lobby.name}}
                    </td>
                    <td>
                        {{lobby.username}}
                    </td>
                    <td>
                        {{lobby.id}}
                    </td>
                    <td>
                        <button class="btn btn-success" ng-click="connect(lobby)">Connect</button>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>