<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{lobbyName}}</h1>
            <a href="/inventory" class="btn btn-success" ng-show="isServer()">Start</a>
            <button class="btn btn-success" ng-click="makePublic()" ng-show="isServer()" ng-disabled="public">Make Public</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Players</h2>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="player in $parent.players">{{player.name}}</li>
            </ul>
        </div>
    </div>
</div>